# =========================
# Project Ignored Files
# =========================

# Notepad++ backup folder
nppBackup/

# Framework output folder
output/
indexDubai/
pskpq/
evaluations/
skpq/
datasetsOutput/
key.info


#Research datasets
Doutorado/terceiro journal/Datasets
Doutorado/Datasets.zip
profiles/check-ins

#Temporary ignored files
src/log4j.properties

# =========================
# Windows Files
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/bin/

SKPQ-LD [k=5, kw=nice location] --- ratings.txt